# Backend (Python, Flask, etc.)
venv/
__pycache__/
logs/
temp/
backend/         # Ignore the backend directory
\#/
Linux/
macOS/
*.pyc
*.pyo
*.log
pytest_cache/
.env

# Ignore specific file
malignant_features.json
